body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

header {
  padding: 20px;
}

.hero {
  background: linear-gradient(135deg,#2563eb,#1e3a8a);
  padding: 50px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 80%;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
}

button:hover {
  background: #1d4ed8;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  padding: 15px;
  border-radius: 50%;
  color: white;
}